@model FF.Data.Models.Schools.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="page-header mb-3">
    asdasa. <small> here's what's happening with your store today.</small>
</h1>
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-12">
        <div class="row">
            <!-- BEGIN col-6 -->
            <div class="col-sm-4">

                <!-- BEGIN card -->
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-teal" style="min-height: 202px;">
                    <!-- BEGIN card-img-overlay -->
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="~/img/Schoolpage/class.png" alt="" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                    </div>
                    <!-- END card-img-overlay -->
                    <!-- BEGIN card-body -->
                    <div class="card-body position-relative">
                        <h5 class="text-white-transparent-8 mb-3 fs-16px">Sınıflar</h5>
                        <h3 class="text-white mt-n1">@Model.ClassesCount</h3>
                        <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                            <div class="progrss-bar progress-bar-striped bg-white" style="width: 50%"></div>
                        </div>
                        <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 33% increase <br />compare to last week</div>
                        <div><a href="@Model.ClassesPageLink" class="text-white d-flex align-items-center text-decoration-none">Sınıfları Görüntüle <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                    </div>
                    <!-- END card-body -->
                </div>
                <!-- END card -->
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-sm-4">

                <!-- BEGIN card -->
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-indigo" style="min-height: 202px;">
                    <!-- BEGIN card-img-overlay -->
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="~/img/Schoolpage/teacher.png" alt="" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                    </div>
                    <!-- end card-img-overlay -->
                    <!-- BEGIN card-body -->
                    <div class="card-body position-relative">
                        <h5 class="text-white-transparent-8 mb-3 fs-16px">Öğretmenler</h5>
                        <h3 class="text-white mt-n1">@Model.TeachersCount</h3>
                        <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                            <div class="progrss-bar progress-bar-striped bg-white" style="width: 80%"></div>
                        </div>
                        <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 20% increase <br />compare to last week</div>
                        <div><a href="@Model.TeachersPageLink" class="text-white d-flex align-items-center text-decoration-none">Öğretmenleri Görüntüle <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                    </div>
                    <!-- END card-body -->
                </div>
                <!-- END card -->
            </div>
            <!-- BEGIN col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-sm-4">
                <!-- BEGIN card -->
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-orange" style="min-height: 202px;">
                    <!-- BEGIN card-img-overlay -->
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="~/img/Schoolpage/student.png" alt="" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                    </div>
                    <!-- END card-img-overlay -->
                    <!-- BEGIN card-body -->
                    <div class="card-body position-relative">
                        <h5 class="text-white-transparent-8 mb-3 fs-16px">Öğrenciler</h5>
                        <h3 class="text-white mt-n1">@Model.StudentsCount</h3>
                        <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                            <div class="progrss-bar progress-bar-striped bg-white" style="width: 80%"></div>
                        </div>
                        <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 16% increase <br />compare to last week</div>
                        <div><a href="@Model.StudentsPageLink" class="text-white d-flex align-items-center text-decoration-none">Öğrencileri Görüntüle <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                    </div>
                    <!-- BEGIN card-body -->
                </div>
                <!-- END card -->

            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-sm-6">
                <!-- BEGIN card -->
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-pink" style="min-height: 202px;">
                    <!-- BEGIN card-img-overlay -->
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="~/img/Schoolpage/activity.png" alt="" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                    </div>
                    <!-- END card-img-overlay -->
                    <!-- BEGIN card-body -->
                    <div class="card-body position-relative">
                        <h5 class="text-white-transparent-8 mb-3 fs-16px">Aktiviteler</h5>
                        <h3 class="text-white mt-n1">@Model.ActivitiesCount</h3>
                        <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                            <div class="progrss-bar progress-bar-striped bg-white" style="width: 80%"></div>
                        </div>
                        <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-down"></i> 5% decrease <br />compare to last week</div>
                        <div><a href="#" class="text-white d-flex align-items-center text-decoration-none">Aktiviteleri Görüntüle <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                    </div>
                    <!-- END card-body -->
                </div>
                <!-- END card -->
            </div>
            <!-- BEGIN col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-sm-6">
                <!-- BEGIN card -->
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-teal" style="min-height: 202px;">
                    <!-- BEGIN card-img-overlay -->
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="~/img/Schoolpage/bus.png" alt="" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                    </div>
                    <!-- END card-img-overlay -->
                    <!-- BEGIN card-body -->
                    <div class="card-body position-relative">
                        <h5 class="text-white-transparent-8 mb-3 fs-16px">Servisler</h5>
                        <h3 class="text-white mt-n1">@Model.SchoolBusesCount</h3>
                        <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                            <div class="progrss-bar progress-bar-striped bg-white" style="width: 80%"></div>
                        </div>
                        <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-down"></i> 5% decrease <br />compare to last week</div>
                        <div><a href="@Model.SchoolBusesPageLink" class="text-white d-flex align-items-center text-decoration-none">Servisleri Görüntüle <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                    </div>
                    <!-- END card-body -->
                </div>
                <!-- END card -->
            </div>
            <!-- BEGIN col-6 -->
        </div>
    </div>


</div>

<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-12">

        <!-- BEGIN #apexChartLineChart -->
        <div id="apexChartLineChart" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <h6>AKTİVİTE GRAFİĞİ</h6>
                    <div class="fs-13px">Aktiviteler haftada kaç kez yapılıyor.</div>

                    <div id="apexLineChart"></div>
                </div>

            </div>
        </div>
        <!-- END #chartJsLineChart -->
    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->
<!-- script -->
@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script>
        var apexLineChartOptions = {
            chart: {
                height: 350,
                type: 'line',
                shadow: {
                    enabled: true,
                    color: COLOR_GRAY_500,
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                },
                toolbar: {
                    show: false
                }
            },
            title: {
                text: 'Aktivitelere göre öğrenci sayıları',
                align: 'center'
            },
            colors: [COLOR_RED, COLOR_TEAL, COLOR_GRAY_500, COLOR_BLUE],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth',
                width: 3
            },
            series: [{
                name: 'Uyku',
                data: [28, 29, 33, 36, 32, 32, 33]
            }, {
                name: 'Yemek',
                data: [19, 21, 21, 18, 23, 24, 27]
            }, {
                name: 'Yemek',
                data: [15, 15, 19, 19, 15, 19, 18]
            }, {
                name: 'Tenis',
                data: [16, 16, 14, 20, 12, 17, 15]
            }],
            grid: {
                borderColor: COLOR_GRAY_200,
                row: {
                    colors: [COLOR_GRAY_200, 'transparent'],
                    opacity: 0.5
                },
            },
            markers: {
                size: 4
            },
            xaxis: {
                categories: ['01/03/2021', '08/03/2021', '15/03/2021', '22/03/2021', '29/03/2021', '05/04/2021', '12/04/2021'],
                axisBorder: {
                    show: true,
                    color: COLOR_GRAY_300,
                    height: 1,
                    width: '100%',
                    offsetX: 0,
                    offsetY: -1
                },
                axisTicks: {
                    show: true,
                    borderType: 'solid',
                    color: COLOR_GRAY_300,
                    height: 6,
                    offsetX: 0,
                    offsetY: 0
                }
            },
            yaxis: {
                min: 5,
                max: 40
            },
            legend: {
                show: true,
                position: 'top',
                offsetY: -10,
                horizontalAlign: 'right',
                floating: true
            }
        };
        var apexLineChart = new ApexCharts(
            document.querySelector('#apexLineChart'),
            apexLineChartOptions
        );
        apexLineChart.render();



        var ctx5 = document.getElementById('pieChart');
        var pieChart = new Chart(ctx5, {
            type: 'pie',

            data: {
                labels: ['0', '1-2', '3-4', '+4'],
                datasets: [{
                    data: [3, 50, 100, 200],
                    backgroundColor: [COLOR_BLUE, COLOR_AQUA, COLOR_TEAL, COLOR_GRAY_500],
                    hoverBackgroundColor: [COLOR_BLUE, COLOR_AQUA, COLOR_TEAL, COLOR_GRAY_500],
                    borderWidth: 0
                }]
            }
        });
    </script>
}