@model List<FF.Data.Entities.Teachers.Teacher>
@{
    ViewData["Title"] = "Öğretmen Listesi";
}

@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />

}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderTop')
        $('#CreateTeacherButton').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {

                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            });
            PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
                PlaceHolderElement.find('.modal').modal('hide');
            });
            window.Teacher.reload();
        });

        $('.UpdateTeacherButton').click(function (event) {

            var url = $(this).data('url');
            var id = $(this).attr('data-id');
            $.get(url + '/' + id).done(function (data) {

                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            });
            PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
                PlaceHolderElement.find('.modal').modal('hide');
            });
            window.Teacher.reload();
        });

        $('.DeleteTeacherButton').click(function (event) {

            var url = $(this).data('url');
            var id = $(this).attr('data-id');
            $.get(url + '/' + id).done(function (data) {

                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            });
            PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
                PlaceHolderElement.find('.modal').modal('hide');
                window.Teacher.reload();
            });
        });

    });
</script>


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div id="PlaceHolderTop"></div>
<!-- BEGIN container -->
<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">ÖĞRENCİ LİSTESİ</a></li>
                    </ul>

                    <h1 class="page-header">
                        <div class="row">
                            <div class="col-xl-9">
                                Öğretmen Bilgileri <small> </small>
                            </div>
                            <div class="col-xl-3">
                                <a class="btn btn-outline-success float-right" id="CreateTeacherButton" data-toggle="modal" data-target="#AddTeacherForm" data-url='@Url.Action("Create","Teacher")'>Yeni Öğretmen</a>
                            </div>
                        </div>
                    </h1>

                    <hr class="mb-4" />

                    <!-- BEGIN #datatable -->
                    <div id="datatable" class="mb-5">
                        <div class="card">
                            <div class="card-body">
                                @if (Model != null)
                                {
                                    <table id="datatableDefault" class="table text-nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>Ad-Soyad</th>
                                                <th>Doğum Tarihi</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var teacher in Model)
                                            {
                                                <tr>
                                                    <td>@teacher.FullName</td>
                                                    <td>@teacher.Birthday</td>
                                                    <td>
                                                        <a class="text-primary ml-1 UpdateTeacherButton" data-toggle="modal" data-target="#UpdateTeacherForm" data-id="@teacher.Id" data-url='@Url.Action("Update","Teacher")'><i class="fa fa-marker" type="button"></i></a>
                                                        <a class="text-danger ml-1 DeleteTeacherButton" data-toggle="modal" data-target="#DeleteTeacherForm" data-id="@teacher.Id" data-url='@Url.Action("Delete","Teacher")'><i class="fa fa-trash-alt" type="button"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>Öğretmen bulunamadı !!!</p>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- END #datatable -->
                </div>
                <!-- END col-9-->
            </div>
            <!-- END row -->
        </div>
        <!-- END col-10 -->
    </div>
    <!-- END row -->
</div>
<!-- END container -->