@model FF.Data.Models.Teachers.UpdateTeacherModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="modal fade" id="AddLocationForm">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form method="post" asp-controller="Teacher" asp-action="Update">

                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title">Öğretmen Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- text input -->
                    <div class="form-location">
                        <div>
                            <h4> Öğretmen Bilgileri </h4>
                            <input class="form-control" type="hidden" asp-for="Id" value="@Model.Id" />
                        </div>

                        <div class="row form-group">
                            <div class="col-6">
                                <label name="FirstName">Ad</label>
                                <input class="form-control" type="text" asp-for="FirstName" value="@Model.FirstName" />
                            </div>
                            <div class="col-6">
                                <label name="LastName">Soyad</label>
                                <input class="form-control" type="text" asp-for="LastName" value="@Model.LastName" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                <label name="Birthday">Doğum Günü</label>
                                <input class="form-control" type="date" asp-for="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-6">
                                <label>Sınıfı</label>
                                <select class="form-control">
                                    @foreach (var classItem in Model.Classes)
                                    {
                                        <option disabled>@classItem.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-save="modal" onclick="saveModal(this)">Kaydet</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>