@model FF.Data.Models.Students.StudentModel
<!-- modal-lg AddLocationForm-->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="modal fade" id="AddLocationForm">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form method="post" asp-controller="Student" asp-action="StudentUpdate">

                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title">Konum Bilgileri</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- text input -->
                    <div class="form-location">

                        <div>
                            <h4> Öğrenci Bilgileri </h4>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label name="FirstName">Ad</label>
                                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
                            </div>
                            <div class="col-6">
                                <label name="LastName">Soyad</label>
                                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label name="Birthday">Doğum Günü</label>
                                <input type="date" class="form-control" id="Birthday" name="Birthday" value="@Model.Birthday">
                            </div>
                            <div class="col-6">
                                <label name="ClassId">Sınıfı</label>
                                <input type="text" class="form-control" id="ClassId" name="ClassId" value="@Model.ClassId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label name="ParentId">Velisi</label>
                                <input type="text" class="form-control" id="ParentId" name="ParentId" value="@Model.ParentId">
                            </div>
                            <div class="col-6">
                                <label name="SchoolId">Okulu</label>
                                <input type="text" class="form-control" id="SchoolId" name="SchoolId" value="@Model.SchoolId">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-save="modal" onclick="saveModal(this)">Kaydet</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>