@model FF.Data.Models.Students.UpdateStudentModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="modal fade" id="AddLocationForm">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form method="post" asp-controller="Student" asp-action="Update">

                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title">Öğrenci Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- text input -->
                    <div class="form-location">
                        <div>
                            <h4> Öğrenci Bilgileri </h4>
                            <input class="form-control" type="hidden" asp-for="Id" value="@Model.Id" />
                            <input class="form-control" type="hidden" asp-for="ProfileAccessCode" value="@Model.ProfileAccessCode" />
                        </div>

                        <div class="row form-group">
                            <div class="col-6">
                                <label name="FirstName">Ad</label>
                                <input class="form-control" type="text" asp-for="FirstName" value="@Model.FirstName" />
                            </div>
                            <div class="col-6">
                                <label name="LastName">Soyad</label>
                                <input class="form-control" type="text" asp-for="LastName" value="@Model.LastName" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                <label name="Birthday">Doğum Günü</label>
                                <input class="form-control" type="date" asp-for="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-6">
                                <label>Sınıfı</label>
                                <select class="form-control" asp-for="ClassId">
                                    @for (int i = 0; i < Model.Classes.Count; i++)
                                    {
                                        if (Model.ClassId == Model.Classes[i].Id)
                                        {
                                            <option value="@Model.Classes[i].Id" selected>@Model.Classes[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.Classes[i].Id">@Model.Classes[i].Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                <label>Okul Servisi</label>
                                <select class="form-control" asp-for="SchoolBusId">
                                    @for (int i = 0; i < Model.SchoolBuses.Count; i++)
                                    {
                                        if (Model.SchoolBusId == Model.SchoolBuses[i].Id)
                                        {
                                            <option value="@Model.SchoolBuses[i].Id" selected>@Model.SchoolBuses[i].CompanyName</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.SchoolBuses[i].Id">@Model.SchoolBuses[i].CompanyName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                <label>Veli Adı</label>
                                <input class="form-control" type="text" asp-for="ParentFirstName" value="@Model.ParentFirstName" />
                            </div>
                            <div class="col-6">
                                <label name="">Veli Soyadı</label>
                                <input class="form-control" type="text" asp-for="ParentLastName" value="@Model.LastName" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-save="modal" onclick="saveModal(this)">Kaydet</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>