@model FF.Data.Models.Actions.ActionModel
@{
    ViewData["Title"] = "Aksiyon Ekle";
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
}

<!-- BEGIN container -->
<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Aktiviteler</a></li>
                        <li class="breadcrumb-item active">@Model.Activity.Name</li>
                    </ul>

                    <h1 class="page-header">
                        1-A Sınıfı <small>Lütfen öğrencilerin yemek aktivitelerini belirleyiniz...</small>
                    </h1>

                    <hr class="mb-4" />

                    <!-- BEGIN #cardGroups -->
                    <div id="cardGroups" class="mb-5">
                        <div class="card">
                            <div class="card-body">
                                @if (Model.Students != null)
                                {
                                    <form asp-controller="Action" asp-action="Create" method="post">
                                        <div class="card-columns">
                                            @for (var i = 0; i < Model.Students.Count; i++)
                                            {
                                                <div class="card">
                                                    <div class="card-body">
                                                        <input type="hidden" asp-for="ActivityId" value="@Model.ActivityId" />
                                                        <input type="hidden" asp-for="StudentActivities[i].StudentId" value="@Model.Students[i].Id" />
                                                        <h5 class="card-title">@Model.Students[i].FullName</h5>
                                                        <p class="card-text"><small class="text -muted">Yemek miktarları</small></p>
                                                        @if (Model.Activity.ActivityOptions != null)
                                                        {
                                                            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                                                @for (int j = 0; j < Model.Activity.ActivityOptions.Count; j++)
                                                                {
                                                                    <label class="btn btn-outline-primary">
                                                                        <input type="radio"
                                                                               asp-for="StudentActivities[i].ActivityOptionId"
                                                                               value="@Model.Activity.ActivityOptions[j].Id" />
                                                                        @Model.Activity.ActivityOptions[j].Name
                                                                    </label>
                                                                }
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <button type="submit" value="Submit" class="btn btn-primary">Kaydet</button>
                                    </form>
                                }
                                else
                                {
                                    <p>Öğrenci bulunamadı !!!</p>
                                }

                            </div>
                        </div>
                    </div>
                    <!-- END #cardGroups -->
                </div>
                <!-- END col-3 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END col-10 -->
    </div>
    <!-- END row -->
</div>
<!-- END container -->